.overlayFilter {
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%) ;
	transition: 1s;
}

/* ---- isotope ---- */

.grid {
  background: #FFFFFF;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
